.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-default, 2px solid #000);
  padding: 9px 17px;
  overflow: hidden;
  color: #fff;
  font-family: var(--font-secondary);
  font-size: 14px;
  background-color: transparent;
  background-color: #fff;
  transition: box-shadow 0.3s;
  cursor: pointer;
  inline-size: 130px;
}
.btn:focus
{
  outline: none;
}
.btn:focus-visible
{
  box-shadow: var(--shadow-btn);
  outline: none;
}
.btn::after
{
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-primary);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}
.btn:hover::after
{
  transform: translateX(0);
}
.button__text
{
  position: relative;
  z-index: 1;
  font-size: 14px;
  mix-blend-mode: difference;
}
.button__text-modal
{
  mix-blend-mode: normal;
}
.save-button
{
  gap: 8px;
  margin: 50px auto 0;
  padding: 17px 10px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
}
.card__like-button
{
  margin: 25px 0;
}
.save-button__icon
{
    position: relative;
    z-index: 1;
    min-width: 21px;
    min-height: 21px;
    mix-blend-mode: difference;
}
.card__icon-button
{
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s;
  cursor: pointer;
  max-block-size: 36px;
}
.wrapper
{
  inline-size: var(--layout-width);
  max-inline-size: 696px;
}
.site
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  font-family: var(--font-primary);
  background-image: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, rgba(255 255 255 / 0) 2px, rgba(255 255 255 / 0) 4px),
                    repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, rgba(255 255 255 / 0) 2px, rgba(255 255 255 / 0) 4px),
                    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--weight-text);
  min-inline-size: 320px;
}
.site-header
{
  border: var(--border-default);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  font-family: var(--font-secondary);
  background-color: #fff;
}
.site-header__title
{
  margin: auto;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  text-align: center;
  inline-size: clamp(21.4375rem, 18.9727rem + 10.5164vw, 28.4375rem);
}
.site-header__subtitle
{
  margin-block-start: 18px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}
.site__main
{
  margin-block-start: 102px;
}
.panel-list__item:not(:first-child)
{
  margin-block-start: 50px;
}
.panel
{
  border: var(--border-default);
  background-color: #fff;
}
.panel__title
{
  padding: 6px 10px 4px;
  font-size: var(--size-title);
  line-height: 1.15;
  font-variation-settings: 'wght' var(--weight-title);
}
.panel__figure-wrap
{
  position: relative;
  border-block-start: var(--border-default);
  border-block-end: var(--border-default);
  overflow: hidden;
  block-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}
.panel__figure-label
{
  position: absolute;
  z-index: 1;
  font-family: var(--font-secondary);
  font-size: 14px;
  text-shadow: 1px 0 0 rgba(255 255 255 / 0.5), -1px 0 0 rgba(255 255 255 / 0.5), 0 1px 0 rgba(255 255 255 / 0.5), 0 -1px 0 rgba(255 255 255 / 0.5);
  inset-block-start: 23px;
  inset-inline-end: 11px;
  mix-blend-mode: hard-light;
}
@supports ((-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5)) or (text-stroke: 1px rgba(255 255 255, 0.5)))
{
  .panel__figure-label
  {
    text-shadow: none;
    -webkit-text-stroke: 1px rgba(255 255 255 / 0.5);
  }
}
.panel__image
{
  width: 100%;
  height: auto;
}
.panel__desc-wrap
{
  padding: 26px 25px 0;
}
.panel__desc
{
  font-size: var(--size-text);
  line-height: var(--line-height-text);
}
.panel__desc:not(:last-of-type)
{
  margin-block-end: 30px;
}
.panel__actions
{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
.filter-grayscale
{
  filter: grayscale(80%);
}
.filter-saturate
{
  filter: saturate(350%);
}
.filter-saturate .panel__figure-label
{
  text-transform: uppercase;
}
.filter-rotate
{
  filter: hue-rotate(30deg);
}
.filter-invert
{
  filter: invert(80%);
}
.filter-sepia
{
  filter: sepia(90%);
}
.filter-blur
{
  filter: blur(10px);
}
.filter-contrast
{
  filter: blur(1.3px) brightness(100%) contrast(35%) hue-rotate(100deg) saturate(200%);
}
#floppy-icon
{
  fill: #fff;
}
.dialog
{
  position: fixed;
  inset: 0;
  display: none;
  grid-template-columns: 39px 1fr;
  grid-template-rows: repeat(2, min-content);
  place-items: center;
  row-gap: 30px;
  column-gap: 20px;
  border: var(--border-default);
  padding: 30px;
  font-family: var(--font-secondary);
  font-size: 14px;
  background-color: #fff;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}
.dialog[open]
{
  display: grid;
}
.dialog::backdrop
{
  background-color: rgba(0, 0, 0, 0.75);
}
.dialog__text
{
  align-self: start;
  text-transform: uppercase;
  line-height: 150%;
}
.dialog__button
{
  grid-column: span 2;
  width: 100%;
  padding: 10px 14.5px;
  color: #000;
  text-transform: uppercase;
}
@media (width <= 375px)
{
  .panel__figure-label
  {
    inset-inline-end: 23px;
  }
  .panel__title
  {
    padding: 6px 10px 4px;
  }
  .panel__desc-wrap
  {
    padding: 29.5px 25px 0;
  }
  .save-button
  {
    flex-direction: column;
    min-width: 306px;
    min-height: 84px;
  }
  .save-button__icon
  {
    min-width: 28px;
    min-height: 28px;
  }
  .site-header__subtitle
  {
    margin-block-start: 20px;
  }
  .dialog
  {
    min-width: 341px;
  }
}

